* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e2e2e2, #ffffff);
    color: #333;
    text-align: center;
}

header {
    background: #4a90e2;
    padding: 20px;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    padding: 20px;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.card.hidden {
    opacity: 0;
    transform: translateY(100%);
}

.card.active {
    opacity: 1;
    transform: translateY(0);
}

/* Botão Ver Informações */
.info-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Estilo para os botões de navegação fora das cartas */
.navigation {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    pointer-events: none;
}

#prevButton, #nextButton {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#prevButton span {
    margin-top: 10px; /* Texto abaixo da seta no botão anterior */
}

#nextButton span {
    margin-bottom: 10px; /* Texto acima da seta no botão próximo */
}

#prevButton {
    position: absolute;
    top: 20px; /* Posiciona o botão anterior no topo da tela */
}

#nextButton {
    position: absolute;
    bottom: 20px; /* Posiciona o botão próximo no fundo da tela */
}

.btn i {
    font-size: 24px;
}
